<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h2>Welcome to the Password Manager Dashboard</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="buttons-container">
            <button onclick="window.location.href='{{ url_for('create_user') }}'">Create User</button>
            <button onclick="window.location.href='{{ url_for('search_user') }}'">Search User</button>
            <button onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>
        </div>
    </div>
</body>
</html>
